<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{model.section.name}}</li>
</ol>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title(subtitle)</th>
      <th>Author</th>
      <th>Replies</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
    {{#each pagedContent as |topic|}}
      <tr>
        <td>
          {{#link-to 'section.topics.topic.index' topic.id}}{{topic.title}}{{/link-to}}
          {{#if topic.subtitle}}
            ({{topic.subtitle}})
          {{/if}}
        </td>
        <td>{{linkto-user user=topic.author}}</td>
        <td>{{topic.posts.length}}</td>
        <td>{{moment-format topic}} - {{linkto-user user=topic.author class="display-inline"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=pagedContent}}

{{#link-to "section.topics.new"}}New topic{{/link-to}}
