<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{model.section.name}}</li>
</ol>

{{model.section}}
<h1>aqui</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Lead</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.section.topics as |topic|}}
      <tr>
        <td>{{#link-to 'section.topics.topic.index' topic.id}}{{topic.title}}{{/link-to}}</td>
        <td>{{topic.subtitle}}</td>
        <td>{{topic.content}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#link-to "section.topics.new" class="btn btn-success"}}New topic{{/link-to}}
