<h4>Users/Index, model: {{model}}</h4>
<h1>Registered Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Name</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    {{#each model.users as |user|}}
      <tr>
        <td>{{user.id}}</td>
        <td>{{#link-to 'user.index' user.id}}{{user.username}}{{/link-to}}</td>
        <td>{{user.name}}</td>
        <td>{{user.admin}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
