<h1>New User Registration</h1>

<div class="container user-registration">
  <p>
    <label for="username">Username</label>
    {{input value=model.username id="username" class="form-control"}}
  </p>

  <p>
    <label for="email">Email</label>
    {{input value=model.email id="email" class="form-control"}}
  </p>

  <p>
    <label for="name">Name</label>
    {{input value=model.name id="name" class="form-control"}}
  </p>

  <p>
    <label for="password">Password</label>
    {{input id="password" placeholder="Enter password" type="password" value=model.password class="form-control"}}
  </p>

  <button {{action 'save'}} id="save" class="btn btn-success">Save</button>
</div>
