abaixo

{{section-page}}
{{authManager}}
{{session}}
{{isAuthenticated}}
<h1>Index</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.sections as |section|}}
      <tr>
        <td>{{#link-to 'section' section.id}}{{section.name}}{{/link-to}}</td>
        <td>{{section.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


