<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'section.index' model.topic.section.id}}{{model.topic.section.name}}{{/link-to}}</li>
  <li>{{model.topic.title}}</li>
</ol>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">
      {{model.topic.title}}
      ({{model.topic.subtitle}})
    </h1>
  </div>

  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="panel-title centered-text">{{moment-format topic.createdAt}}</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <p>{{gravatar-image email=model.topic.author.email size=70 class='img-circle'}}</p>
            <p>{{model.topic.author.username}}</p>
            <p>Posts: {{model.topic.author.postsCreated.length}}</p>
          </div>
          <div class="col-md-9">
            {{markdown-to-html markdown=model.topic.content}}
          </div>
        </div>
      </div>
    </div>

    {{#each model.topic.posts as |post|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title centered-text">{{moment-format post.createdAt}}</p>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <p>{{gravatar-image email=post.author.email size=70 class='img-circle'}}</p>
              <p>{{post.author.username}}</p>
              <p>Posts: {{post.author.postsCreated.length}}</p>
            </div>
            <div class="col-md-9">
              {{markdown-to-html markdown=post.content}}
            </div>
          </div>
          {{#if (eq authManager.currentUser.id post.author.id)}}
            {{#link-to 'section.topics.topic.post.edit' post.id class="at-right"}}Edit{{/link-to}}
          {{/if}}
        </div>
      </div>
    {{/each}}

    {{outlet modal}}
  </div>
</div>
