<h1>Topic/index model:{{model.id}}</h1>

{{#each model.topic.posts as |node|}}
  <div class="row post-block">
    <div class="col-md-4">
      {{#link-to 'user.index' node.author.id}}{{node.author.name}}{{/link-to}}
    </div>

    <div class="col-md-8">
      {{node.content}}
    </div>
  </div>
{{/each}}
{{authManager}}

model.id:{{model.id}}
section:{{model.section.id}}

{{#link-to 'topic.new' authManager.currentUser}}New post{{/link-to}}
